<header class="bg-light py-5">
    <div class="container" style="position: relative; z-index: 1;">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="fw-bold text-danger" style="font-size: 3em;">
                    <i>The Social Network</i>
                </h3>
                <h4><span class="badge badge-danger bg-danger">Admin Panel</span></h4>
            </div>
        </div>
    </div>
</header>