<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h3 style="text-align:center; font-size: 2.5em; color:blue;"><i>The Social Network</i></h3>
    <hr style="margin: 40px 0">
</body>
</html>