<header class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="fw-bold text-primary" style="font-size: 3em;">
                    <i>The Social Network</i>
                </h3>
            </div>
        </div>
    </div>
</header>