<nav class="navbar navbar-dark bg-primary navbar-expand-lg justify-content-center">
    <!-- <a class="navbar-brand" href="#">The Social Network (Logo)</a>  -->
    <div class="navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav d-flex w-100 justify-content-evenly">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/post">My Feed</a>  <!-- here 'post' means blogs page (main blog feed page) -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>
