<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
</head>
<body>

    <!--Helper function to convert date from YYYY-MM-DD to DD-MM-YYYY -->
    <%
        function dateConversion(dateInYMD){
            const parts = dateInYMD.split('-')
            const dateInDMY = `${parts[2]}-${parts[1]}-${parts[0]}`
            return dateInDMY;
        }
    %>

    <!--Template for displaying all blog posts -->
    <%if(posts.length > 0) {%>
        <h2><u>All Posts</u></h2>
        <ul>
            <%posts.forEach(function(post){%>
                <li>
                    <h3><%=post.title%></h3>
                    <i><p>Posted by <%=post.author.username%> on <%= dateConversion(post.createdAt.toISOString().substring(0,10))%></p></i>
                    <p><b><%=post.content%></b></p>
                </li>
            <%})%>
        </ul>
    <%} else {%>
        <h3>No new posts available.</h3>
    <%}%>
</body>
</html>